h1 salidas
form(name="salida" method="post", action="/salida/#{barco}" )
  h2 Ingrese numeroMatricula
  input(type="text" name="numeroMatricula" )
  h2 Ingrese fecha
  input(type="text" name="fecha" )
  h2 Ingrese hora
  input(type="text" name="hora" )
  h2 Ingrese Destino
  input(type="text" name="destino" )
  br
  br
  select(name="capitan" )
    option(value="") Seleccione Capitan
    each capitan in capitanes
      option(value="#{capitan._id}") #{capitan.nombre} #{capitan.apellido}
  
  
  br
  br
  br
  button(type='submit') Guardar
