footer 
  .container-fluid
    span Semillero Uniremington 2018
    i.fa.fa-facebook(aria-hidden='true')
    i.fa.fa-twitter(aria-hidden='true')
    i.fa.fa-youtube-play(aria-hidden='true')
    i.fa.fa-instagram(aria-hidden='true')
